<!-- fragments/navheader.html -->
<header th:fragment="navheader">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <!--IF the user is logged in, change navigation to /dashboard.-->
            <a class="navbar-brand" th:href="${session.authenticatedUser != null} ? '/dashboard' : '/'">
                Windwalker
            </a>

            <!--Creates button; targets navbarNav identifier for collapse with Bootstrap JS-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li th:if="${page != 'login' and session.authenticatedUser == null}" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li th:if="${page != 'register' and session.authenticatedUser == null}" class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item" th:if="${page != 'dashboard' and page != 'home'}">
                        <a class="nav-link" th:href="${session.authenticatedUser != null} ? '/dashboard' : '/'">Home</a>
                    </li>
                    <li th:if="${page != 'logout' and session.authenticatedUser != null}" class="nav-item">
                        <a class="nav-link" href="#" id="logoutLink">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script th:if="${session.authenticatedUser != null}" src="/logout.js"></script>
</header>